.logo{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__arrow{
        position: absolute;
        left: 6%;
        color: black;   
    }

    img{
        width: 45%;

        @include tablette-only{
            width: 20%;
        }
    }
}