
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{
    font-family: 'Shrikhand', cursive;
    padding: 0% 0 4% 0;
}
h3, p{
    margin: 0;
    padding: 1px ;
    overflow: auto;
}
p{
    font-weight: 200;
    font-size: 18px;
}
h2{
    font-size: 26px;
    padding: 4% 0 3% 0;

    @include desktop{
        padding: 0;
    }
}