* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h3, p {
  margin: 0;
  padding: 1px;
  overflow: auto;
}

p {
  font-weight: 200;
  font-size: 18px;
}

h2 {
  font-size: 26px;
  padding: 4% 0 3% 0;
}

.map {
  text-align: center;
}
.map__heading {
  padding: 4%;
  background-color: #eaeaea;
  box-shadow: inset 0px 17px 3px -16px #c8bebe;
}
.map__heading__city {
  border: none;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  width: 140px;
}
.map__sum {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10% 3%;
  background-color: #f6f6f6;
}
.map h2 {
  padding: 3% 10%;
}

.instructions {
  padding: 10% 4%;
}
.instructions__list__el {
  border-radius: 20px;
  margin: 6%;
  padding: 6% 0 6% 7%;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
.instructions__list__el i {
  padding-right: 10%;
  color: #7e7e7e;
}
.instructions__list__el p {
  font-weight: 400;
}
.instructions__list__el span {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 1% 2%;
  position: absolute;
  left: 6%;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 10% 4%;
}
.restaurants__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants__block__card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  margin: 4% 0;
  height: 270px;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
@media screen and (min-width: 768px) {
  .restaurants__block__card {
    width: 40%;
  }
}
.restaurants__block__card__img {
  height: 190px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.restaurants__block__card__img__new {
  position: absolute;
  right: 1%;
  left: 71%;
  top: 8%;
  bottom: 90%;
  text-align: center;
  width: 92px;
  height: 33px;
  background-color: #99E2D0;
  color: #008766;
  padding: 2% 4%;
  margin-top: 4%;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .restaurants__block__card__img__new {
    right: 83px;
    padding: 2% 2%;
    margin-top: 2%;
    font-size: 14px;
  }
}
.restaurants__block__card__img__generalfit {
  object-fit: cover;
  width: 100%;
  object-position: bottom;
}
.restaurants__block__card__img__fit {
  object-position: 0% 60%;
}
.restaurants__block__card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4%;
}
.restaurants__block__card__body_icone {
  padding: 8px 5% 0 0;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__arrow {
  position: absolute;
  left: 6%;
  color: black;
}
.logo img {
  width: 45%;
}
@media screen and (min-width: 768px) {
  .logo img {
    width: 20%;
  }
}

.map__sum--btn {
  border-radius: 32px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 4% 7%;
  font-size: 18px;
  color: #ffff;
  margin: 5%;
  border: none;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
@media screen and (min-width: 768px) {
  .map__sum--btn {
    padding: 3% 5%;
  }
}
.map__sum--btn:hover {
  opacity: 85%;
  box-shadow: 3px 6px 20px #2d2d2d;
}

.like {
  font-size: 30px;
  font-weight: 100;
  transition: all ease-out 0.5s;
}
.like:hover {
  font-weight: 600;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  background-color: #353535;
  padding: 6%;
  color: #ffff;
}
footer h1 {
  font-size: 18px;
  font-weight: normal;
}
footer ul {
  list-style: none;
  padding: 4% 0;
  position: relative;
}
footer ul li {
  padding-bottom: 2%;
}
footer ul a {
  text-decoration: none;
  color: #ffff;
}
footer ul a i {
  padding-right: 3%;
}

.illustration {
  height: 270px;
  overflow: hidden;
}
.illustration div {
  display: flex;
  height: 100%;
}
.illustration div img {
  width: 100%;
  object-fit: cover;
}

.menu {
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  margin-top: -12%;
  position: relative;
  background-color: #f6f6f6;
  padding: 10% 4%;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
}
.menu__list__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 5%;
  padding-left: 2%;
}
.menu__list__title h2 {
  font-weight: 200;
  font-size: 18px;
}
.menu__list__title:before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: 0;
  height: 15px;
  width: 12%;
  border-bottom: 3px solid #99E2D0;
}
.menu__list__el {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: #ffff;
  border-radius: 20px;
  padding: 3%;
  margin: 0 0 6%;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
.menu__list__el--price {
  align-self: flex-end;
  padding: 3%;
}
.menu__list__el h3 {
  font-weight: 500;
}
.menu__list__el p {
  font-size: 15px;
  text-overflow: ellipsis;
}
.menu__order {
  text-align: center;
}
.menu__order--padding {
  padding-right: 15%;
  padding-left: 15%;
}

/*# sourceMappingURL=style.css.map */
