* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h3, p {
  margin: 0;
  padding: 1px;
  overflow: auto;
}

p {
  font-weight: 200;
  font-size: 18px;
}

h2 {
  font-size: 26px;
  padding: 4% 0 3% 0;
}
@media screen and (min-width: 960px) {
  h2 {
    padding: 0;
  }
}

.map {
  text-align: center;
}
.map__heading {
  padding: 4%;
  background-color: #eaeaea;
  box-shadow: inset 0px 17px 3px -16px #c8bebe;
}
.map__heading__city {
  border: none;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  width: 140px;
}
.map__sum {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 10% 3%;
  background-color: #f6f6f6;
}
.map h2 {
  padding: 3% 10%;
}
@media screen and (min-width: 960px) {
  .map__heading {
    padding: 1%;
  }
  .map__sum {
    padding: 0 1%;
  }
}

.instructions {
  padding: 10% 4%;
}
@media screen and (min-width: 768px) {
  .instructions {
    padding: 4%;
  }
}
.instructions__list__el {
  border-radius: 20px;
  margin: 6%;
  padding: 6% 0 6% 7%;
  display: flex;
  align-items: center;
  column-gap: 10%;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
.instructions__list__el i {
  color: #7e7e7e;
}
.instructions__list__el p {
  font-weight: 400;
}
.instructions__list__el span {
  background-color: #9356DC;
  color: #ffff;
  border-radius: 100%;
  padding: 1% 2%;
  position: absolute;
  left: 6%;
}
.instructions__list__el:hover {
  background-color: #f2eafb;
}
.instructions__list__el:hover i {
  color: #9356DC;
}
@media screen and (min-width: 960px) {
  .instructions__list {
    display: flex;
  }
  .instructions__list__el {
    width: 30%;
    padding: 1%;
    margin: 2%;
  }
  .instructions__list i {
    font-size: 20px;
  }
  .instructions__list span {
    position: relative;
    left: -10%;
    padding: 2% 4%;
  }
}

.restaurants {
  background-color: #f6f6f6;
  padding: 10% 4%;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding: 4%;
  }
}
.restaurants__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.restaurants__block__card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  margin: 4% 0;
  height: 270px;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
@media screen and (min-width: 768px) {
  .restaurants__block__card {
    width: 40%;
  }
}
@media screen and (min-width: 960px) {
  .restaurants__block__card {
    width: 24%;
  }
}
.restaurants__block__card__img {
  height: 190px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.restaurants__block__card__img__new {
  position: absolute;
  right: 1%;
  left: 71%;
  top: 8%;
  bottom: 90%;
  text-align: center;
  width: 92px;
  height: 33px;
  background-color: #99E2D0;
  color: #008766;
  padding: 2% 4%;
  margin-top: 4%;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .restaurants__block__card__img__new {
    right: 83px;
    padding: 2% 2%;
    margin-top: 2%;
    font-size: 14px;
  }
}
.restaurants__block__card__img__generalfit {
  object-fit: cover;
  width: 100%;
  object-position: bottom;
}
@media screen and (min-width: 960px) {
  .restaurants__block__card__img__generalfit {
    object-position: center;
  }
}
.restaurants__block__card__img__fit {
  object-position: 0% 60%;
}
.restaurants__block__card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4%;
}
.restaurants__block__card__body_icone {
  padding: 8px 5% 0 0;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__arrow {
  position: absolute;
  left: 6%;
  color: black;
}
.logo img {
  width: 45%;
}
@media screen and (min-width: 768px) {
  .logo img {
    width: 20%;
  }
}
@media screen and (min-width: 960px) {
  .logo img {
    width: 10%;
  }
}

.btn {
  border-radius: 32px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 4% 7%;
  font-size: 18px;
  color: #ffff;
  margin: 5%;
  border: none;
  text-decoration: none;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 1% 2%;
  }
}
.btn:hover {
  opacity: 85%;
  box-shadow: 3px 6px 20px #2d2d2d;
}

.like {
  font-size: 30px;
  font-weight: 100;
  transition: all ease-out 0.5s;
}
.like:hover {
  font-weight: 600;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
}

.loader {
  display: flex;
  justify-content: center;
}
.loader__progress {
  border: 2px solid #FF79DA;
  margin: 50px auto;
  padding: 2px;
  width: 50%;
  height: 20px;
  max-width: 500px;
  position: absolute;
  top: 250px;
  border-radius: 20px;
}
.loader__progress__bar {
  height: 100%;
  border-radius: 20px;
  transform-origin: left;
  transform: scaleX(0.5);
  animation: progress-bar 1000ms 150ms both;
  background-color: #FF79DA;
}

.container {
  animation: container 1s 1300ms both;
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  17% {
    transform: scaleX(0.18);
  }
  25% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes container {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  background-color: #353535;
  padding: 6%;
  color: #ffff;
}
footer h1 {
  font-size: 18px;
  font-weight: normal;
}
footer ul {
  list-style: none;
  padding: 4% 0;
  position: relative;
}
@media screen and (min-width: 960px) {
  footer ul {
    padding: 2% 0;
  }
}
footer ul li {
  padding-bottom: 2%;
}
footer ul a {
  text-decoration: none;
  color: #ffff;
}
footer ul a i {
  padding-right: 3%;
}

.illustration {
  height: 270px;
  overflow: hidden;
}
.illustration div {
  display: flex;
  height: 100%;
}
.illustration div img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 960px) {
  .illustration {
    height: 500px;
  }
}

.menu {
  border-radius: 50px 50px 0 0;
  overflow: hidden;
  margin-top: -12%;
  position: relative;
  background-color: #f6f6f6;
  padding: 10% 4%;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2%;
}
.menu__heading h1 {
  padding: 0% 0 4% 0;
}
.menu__list__title {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 5%;
  padding-left: 2%;
}
.menu__list__title h2 {
  font-weight: 200;
  font-size: 18px;
}
.menu__list__title:before {
  content: "";
  position: absolute;
  left: 2%;
  bottom: 0;
  height: 15px;
  width: 12%;
  border-bottom: 3px solid #99E2D0;
}
.menu__list__el {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  background-color: #ffff;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 0 6%;
  animation: fadeInY 1s;
  box-shadow: rgba(100, 100, 111, 0.26) 0px 7px 16px 0px;
}
.menu__list__el:hover > .check {
  width: 17%;
}
.menu__list__el:hover > .check > .check--anim {
  transform: rotate(0turn);
}
.menu__list__el--price {
  align-self: flex-end;
  padding: 3%;
}
.menu__list__el__text {
  padding: 3%;
  flex-grow: 1;
  width: 10em;
}
.menu__list__el h3 {
  font-weight: 500;
}
.menu__list__el h3, .menu__list__el p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu__list__el p {
  font-size: 15px;
}
.menu__order {
  text-align: center;
}
.menu__order--padding {
  padding-right: 15%;
  padding-left: 15%;
}
@media screen and (min-width: 960px) {
  .menu {
    padding: 4%;
  }
  .menu .menu__desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu .menu__list {
    width: 30%;
  }
  .menu__order--padding {
    padding: 1% 3%;
  }
}

@keyframes fadeInY {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
#el-1 {
  animation-delay: 0.1s;
}

#el-2 {
  animation-delay: 0.2s;
}

#el-3 {
  animation-delay: 0.3s;
}

#el-4 {
  animation-delay: 0.4s;
}

#el-5 {
  animation-delay: 0.5s;
}

#el-6 {
  animation-delay: 0.6s;
}

#el-7 {
  animation-delay: 0.7s;
}

#el-8 {
  animation-delay: 0.8s;
}

#el-9 {
  animation-delay: 0.9s;
}

#el-10 {
  animation-delay: 1s;
}

.check {
  background-color: #99E2D0;
  height: 100%;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 1s;
}
.check--anim {
  background-color: #ffff;
  color: #99E2D0;
  border-radius: 20px;
  padding: 6%;
  font-size: 14px;
  transform: rotate(1turn);
  transition: transform 600ms ease-in-out;
}

/*# sourceMappingURL=style.css.map */
