.map{
    text-align: center;

    &__heading{
        padding: 4%;
        background-color: #eaeaea;
        box-shadow: inset 0px 17px 3px -16px #c8bebe;

        

        &__city{
            border: $no-border;
            text-align: center;
            font-size: 16px;
            background-color: transparent;
            width: 140px;
        }
    }
    &__sum{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding: 10% 3% ;

        @include bg;
    }
    h2{
        padding: 3% 10%;
    }
    @include desktop{
        &__heading{
            padding: 1%;
        }
        &__sum{
            padding: 0 1%;
        }
    }
    
}

.instructions{
    @include padding-bloc;
    @include tablette-only{
        padding: 4%;
    }
    &__list{
        
        &__el{
            border-radius: $border-radius;
            margin: 6%;
            padding: 6% 0 6% 7%;
            display: flex;
            align-items: center;
            column-gap: 10%;
            @include card-shadow;

            & i{
                color: #7e7e7e;
            }
            & p{
                font-weight: 400;
            }
            & span{
                background-color: $color-primary;
                color: $color-white;
                border-radius: $size;
                padding: 1% 2%;
                position: absolute;
                left: 6%;
            }
            &:hover{
                background-color: lighten($color: $color-primary, $amount: 35%);

                i{
                    color: $color-primary;
                }
            }
        }
        @include desktop{
            display: flex;
            &__el{
                width: 30%;
                padding: 1%;
                margin: 2%;
            }
            & i{
                font-size: 20px;
            }
            & span{
                position: relative;
                    left: -10%;
                    padding: 2% 4%;
            }

        }
    }
}



.restaurants{
    background-color: $color-back;
    @include padding-bloc;

    @include tablette-only{
        padding: 4%;
    }

    &__block{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    
        &__card{
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            overflow: hidden;
            border-radius: $border-radius;
            margin: 4% 0;
            height: 270px;

            @include card-shadow;
            @include tablette-only{
                width: 40%;
            }

            &__img{
                height: 190px;
                display: flex;
                overflow: hidden;
                position: relative;
                

                &__new{
                    position: absolute;
                    right: 1%;
                    left: 71%;
                    top: 8%;
                    bottom: 90%;
                    text-align: center;
                    width: 92px;
                    height: 33px;
                    background-color: $color-tertiary;
                    color: #008766;
                    padding: 2% 4%;
                    margin-top: 4%;
                    border-radius: 2px;


                    @include tablette-only{
                        right: 83px;
                        padding: 2% 2%;
                        margin-top: 2%;
                        font-size: 14px;
                    }
                }
                &__generalfit{
                    object-fit: cover;
                    width: $size;
                    object-position: bottom;
                    @include desktop{
                        object-position: center;
                    }
                }
                &__fit{
                    object-position: 0% 60%;
                }
                
            }
            &__body{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                padding: 4%;

                &_icone{
                    padding: 8px 5% 0 0;

                    
                }
            }
        }
    }
    a{
        text-decoration:none;
        color: black;
    }  
    
}