$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-back: #f6f6f6;


@mixin card-shadow{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

@mixin bg{
    background-color: #f6f6f6;
}